::-webkit-scrollbar{overflow:hidden;width:4px;background:#111;}
::-webkit-scrollbar:horizontal{height:4px;}
::-webkit-scrollbar-button{display:none;}
::-webkit-scrollbar-piece{background:rgba(200,200,200,0.5);}
::-webkit-scrollbar-piece:start{background:rgba(200,200,200,0.5);}
::-webkit-scrollbar-thumb{background:rgba(200,200,200,0.5);}
::-webkit-scrollbar-corner{background:rgba(200,200,200,0.5);}
